<?xml version="1.0" encoding="UTF-8"?>
<templates id="template" xml:space="preserve">


<t t-extend="UserMenu.Actions">
    <t t-jquery="a[data-menu='documentation']" t-operation="replace">
    	<a role="menuitem" href="?debug=assets" class="dropdown-item">Debug</a>
    </t>
    <t t-jquery="a[data-menu='support']" t-operation="replace"></t>
    <t t-jquery="a[data-menu='account']" t-operation="replace"></t>
</t>

<t t-name="systray.FullScreenMenu">
        <li>
            <a title="Activities" href="#" role="button">
                <i class="fa fa-clock-o" role="img" aria-label="Full" /> <span
	class="o_notification_counter badge badge-pill" />
            </a>
        </li>
    </t>
 
    
    
<t t-name="MapView.buttons">
	<div class="o_form_buttons_view" role="toolbar" aria-label="Main actions">
        <button t-if="widget.is_action_enabled('edit')" type="button"
                class="btn btn-primary o_form_button_edit" accesskey="a">
            Edit
        </button>
    </div>

    <div class="o_form_buttons_edit" role="toolbar" aria-label="Main actions">
        <button type="button"
                class="btn btn-primary o_form_button_save" accesskey="s">
            Save
        </button>
        <button type="button"
                class="btn btn-secondary o_form_button_cancel" accesskey="j">
            Discard
        </button>
        
        <button  type="button"
                class="btn btn-secondary o_form_button_undo" accesskey="c">
            Undo
        </button>
        <button  type="button"
                class="btn btn-secondary o_form_button_redo" accesskey="a">
            Redo
        </button>
    </div>
    
</t>    

<t t-name="colorpicker">
    <div class="o_colorpicker dropdown-menu tagcolor_dropdown_menu" role="menu">
        <ul>
            <li><a role="menuitem" href="#" t-att-data-id="tag_id" class="o_tag_color_red" data-color="red" title="Red" aria-label="Red"/></li>
            <li><a role="menuitem" href="#" t-att-data-id="tag_id" class="o_tag_color_orange" data-color="orange" title="Orange" aria-label="Orange"/></li>
            <li><a role="menuitem" href="#" t-att-data-id="tag_id" class="o_tag_color_yellow" data-color="yellow" title="Yellow" aria-label="Yellow"/></li>
            <li><a role="menuitem" href="#" t-att-data-id="tag_id" class="o_tag_color_aqua" data-color="aqua" title="aqua" aria-label="aqua"/></li>
            <li><a role="menuitem" href="#" t-att-data-id="tag_id" class="o_tag_color_slateBlue" data-color="slateBlue" title="SlateBlue" aria-label="SlateBlue"/></li>
            <li><a role="menuitem" href="#" t-att-data-id="tag_id" class="o_tag_color_fuchsia" data-color="fuchsia" title="fuchsia" aria-label="fuchsia"/></li>
            
            <li><a role="menuitem" href="#" t-att-data-id="tag_id" class="o_tag_color_salmon" data-color="salmon" title="Salmon" aria-label="Salmon"/></li>
            <li><a role="menuitem" href="#" t-att-data-id="tag_id" class="o_tag_color_lime" data-color="lime" title="Lime" aria-label="Lime"/></li>
            <li><a role="menuitem" href="#" t-att-data-id="tag_id" class="o_tag_color_blue" data-color="blue" title="Blue" aria-label="Blue"/></li>
        </ul>
    </div>
</t>

</templates>
